<!-- The list players view -->
<section data-ng-controller="PlayersController" data-ng-init="find()">
    <div presentation-menu menu-title="Baudio Player"></div>
    <div class="centerLinks">
        <h1>Players</h1>
        <ul>
            <!-- The list of players -->
            <li data-ng-repeat="player in players">
                <a style="float: left;" data-ng-href="#!/players/{{player._id}}" data-ng-bind="player.title"></a>
                <br>
                <small data-ng-bind="player.created | date:'medium'"></small>
                <small>/</small>
                <p data-ng-bind="player.content"></p>
            </li>
        </ul>
        <!-- If there are no players in the list, suggest the user's create a new player -->
        <div data-ng-hide="!players || players.length">
            No players yet, why don't you <a href="/#!/players/create">create one</a>?
        </div>
    </div>
</section>