<div class="centerLinks">
    <!--header>
        <div class="container">
            <div class="row">
                <div style="visibility: hidden;;" ng-bind-html="getHeaderImg()"></div>
            </div>
        </div>
    </header-->
</div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="{{brandColor}}" href="#!/">{{label}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{aboutActiveClass}}"><a href="/#!/sounds">Sounds</a></li>
                <li class=""><a href="https://www.youtube.com/watch?v=2oz_SwhBixs">Video about Baudio</a></li>
                <li><a id="listPlayers" href="/#!/players">Players</a> </li>
                <li><a id="createPlayer" href="/#!/players/create">Create Player</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div>

</nav>